body, h1, h2, h3, h4, h5, h6, p, ul, li, figure, figcaption, blockquote, address {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

.button:hover,
.button:focus {
  background-color: #404BBF;
}

.button:focus {
  outline: 2px solid #404BBF;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #FFFFFF;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
  text-decoration: none;
}

.logo span {
  color: #4D5AE5;
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

.header .logo {
  color: #2E2F42;
}

.footer .logo {
  color: #F4F4FD;
}


.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px 0;
}

.header__branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 76px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
  color: #404BBF;
  outline: 2px solid #404BBF;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.address__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.address__link:hover,
.address__link:focus {
  color: #404BBF;
  outline: 2px solid #404BBF;
}

.hero {
  background-color: #2E2F42;
  color: #FFFFFF;
  padding: 188px 0;
  text-align: center;
}

.hero__content {
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
}

.hero__content--title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 16px 32px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #404BBF;
}

.button:focus {
  outline: 2px solid #404BBF;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  color: #2E2F42;
}

.features__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}


.features__box-name,
.team__name,
.portfolio__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.features__box-text,
.team__position,
.portfolio__describe {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #F4F4FD;
}

.team__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.team__box { 
  width: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.team__content {
  padding: 32px 16px;
}

.team__box-img {
  object-fit: cover;
}
.portfolio__inner{ 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 48px 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__card {
  max-width: 360px;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio__content {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio__name {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio__describe {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer {
  padding: 100px 0;
   background-color: #2E2F42;
}

.footer__content {
  max-width: 264px;
  width: 100%;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  margin-top: 16px;
}